/*========================================================================
						CUSTOM THEME
/*========================================================================*/

/*========================= Core CSS =========================*/
body {
font-family: 'Hind', sans-serif;
color: $gray-base;
font-weight: $font-weight-regular;
background: $color-white;
}

img{max-width: 100%;}
/*---------changes for POP-UP------------*/

.modal-header {
  padding: 18px 24px;
}

.modal-body {
  padding: 18px 24px;
}


.text-center{
  text-align: center !important;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
    bottom:0;
  /*  @include respond-to('small') {
    position: relative;
    }*/
}

.nav-tabs > li{
      margin-bottom: -2px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color: $gray-base;
  background:transparent;
  border :0;
  border-bottom: solid $brand-primary 4px; 

}

.tab-content > .active{
  background: $color-white;

}

.help-block{
  color: $gray-light;
}

 html, body {
  height: 100%;
  margin: 0;
}

.form-control {
  border: solid 1px $gray-lighter;
  height: 50px;
  font-size: 18px;
  border-radius: 0;
}
.btn{
      padding: 15px 18px;
      border-radius: 0px;
     /* min-width: 150px;*/

  &__medium{
    padding: 16px 18px;
  }
}

.form-horizontal .control-label{
  font-weight: $font-weight-medium;
}
.text-left {
    text-align: left !important;
}

.has-error{
   background-color:$brand-warning;
   color: $brand-warning;
}
.btn-primary {
    color: $color-white;
    background-color: $brand-tertiary;
    border-color: $brand-tertiary;
}
.btn-primary:hover, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus{
    color: $color-white;
    background-color: $brand-tertiary;
    border-color: $brand-tertiary;
    
}
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle, .btn-primary:focus, .btn-primary.focus{
   color: $color-white;
    background-color: $brand-tertiary;
    border-color: $brand-tertiary;

}

.navbar-toggle {
    position: relative;
    float: none;
    margin-right: 12px;
    padding: 9px 10px;
    margin-top: 0px;
    margin-bottom: 11px;
    background-color: #fbd307;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    min-height: 34px;

    .icon-bar{
          background: $color-white;
    }
.icon-bar + .icon-bar {
    margin-top: 4px;
    background: $color-white;
}
}
.list-group-item{
  background: transparent;
  border: 0;
  color: #908f92;
  font-size: 16px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
  z-index: 2;
    color: #fefefe;
    background-color: #242627;
    border: 0;
    border-bottom: solid 1px $brand-primary;
}
a.list-group-item:hover, a.list-group-item:focus, button.list-group-item:hover, button.list-group-item:focus{
   color: #fefefe;
    background-color: #242627;
    border: 0;
    border-bottom: solid 1px $brand-primary;

}
.btn-text{
      border: none;
    background-color: transparent;
   
  /*min-width: 150px;*/
}

.btn-group.open .dropdown-toggle{
  box-shadow: inherit;
  -webkit-box-shadow: inherit;
}
.dropdown-menu{
     min-width: 188px;
    right: 0;
    left: 0;
    width: 100%;
       @include respond-to('small') {
    left:-100%;
    }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color: $brand-primary;
  color: $color-white !important;
}

.form-group {
    margin-bottom: 12px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    margin-right: 10px;
    margin-top: 5px !important;
}