textarea:focus, input:focus{
    outline: 0;
}

/*------------------- Reusable classes -----*/
.vertical-spacing {
	margin-bottom: 18px;
}
.vertical-spacing-top {
	margin-top: 18px;
}
.vertical-padding {
	padding-bottom: 18px;
	padding-top:18px;

}
.horizontal-padding {
	padding-left: 18px;
	padding-right:18px;

}

.opaque{
	position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 3;
    top:0;
    display: none;
}

.no-text-underline{
	text-decoration: none !important;
}

.cursor-pointer{
	cursor: pointer;
}

.word-wrap{
	word-wrap: break-word;
}

.display-block{
	display: block;
}
.display-inline-block{
  display: inline-block;
}

.dash-border{
	border-bottom: 1px dashed #bdbdbd;
}

//line-height classes

.line-height-xs{
	line-height: 18px;
}
	
.line-height-sm{
	line-height: 24px;
}

.line-height-md{
	line-height: 30px
}

.line-height-lg{
	line-height: 36px;
}

/*** anchor hover ****/
.anchor-hover:hover{
	p,span{
		color: $brand-primary;
	}
	b{
		color: $brand-primary;
	}
}

.gray-lighter-bg-color{
	background-color: $gray-lighter;
}


/*--------------- Reset padding/margin of specific side ----------*/
.margin-top-zero{margin-top: 0 !important;}
.margin-right-zero{margin-right: 0 !important;}
.margin-bottom-zero{margin-bottom: 0 !important;}
.margin-left-zero{margin-left: 0 !important;}

.padding-top-zero{padding-top: 0 !important;}
.padding-right-zero{padding-right: 0 !important;}
.padding-bottom-zero{padding-bottom: 0 !important;}
.padding-left-zero{padding-left: 0 !important;}

/*--------------- Reset padding/margin ----------*/
.no-padding {padding:0 !important;}
.no-margin {margin:0 !important;}

/*--------------- Reset border ----------*/
.border-none{
	border: none !important;
}

/*--------------- spacing in multiple of 6 */


.padding-bottom-xs {
	padding-bottom: 6px !important;
}
.padding-bottom-sm {
	padding-bottom: 12px !important;
}
.padding-bottom-md {
	padding-bottom: 18px !important;
}
.padding-bottom-lg {
	padding-bottom: 24px !important;
}
.padding-bottom-xl {
	padding-bottom: 30px !important;
}
.padding-bottom-xxl {
	padding-bottom: 36px !important;
}

.padding-top-xs {
	padding-top: 6px !important;
}
.padding-top-sm {
	padding-top: 12px !important;
}
.padding-top-md {
	padding-top: 18px !important;
}
.padding-top-lg {
	padding-top: 24px !important;
}

.padding-top-xl {
	padding-top: 30px !important;
}

.padding-top-xxl {
	padding-top: 36px !important;
}

.padding-right-xs {
	padding-right: 6px !important;
}
.padding-right-sm {
	padding-right: 12px !important;
}

.padding-right-md {
  padding-right: 18px !important;
}
.padding-right-lg {
  padding-right: 24px !important;
}

//Padding left
.padding-left-xs {
	padding-left: 6px !important;
}

.padding-left-sm {
	padding-left: 12px !important;
}
.padding-left-md {
	padding-left: 18px !important;
}
.padding-left-lg {
	padding-left: 24px !important;
}
.padding-left-xl {
	padding-left: 30px !important;
}
.padding-left-xxl {
	padding-left: 36px !important;
}
.padding-left-xxxl {
	padding-left: 42px !important;
}

.padding-left-xxxxl {
	padding-left: 48px !important;
}

.padding-left-xxxxxl {
	padding-left: 54px !important;
}

.padding-left-largest {
	padding-left: 60px !important;
}

//Padding
.padding-xs {
	padding: 6px !important;
}
.padding-sm {
	padding: 12px !important;
}
.padding-md {
	padding: 18px !important;
}
.padding-lg {
	padding: 24px !important;
}

/*--------------- margin bottom*/
.margin-bottom-xs {
	margin-bottom: 6px !important;
}
.margin-bottom-sm {
	margin-bottom: 12px !important;
}

.margin-bottom-md {
	margin-bottom: 18px !important;
}

.margin-bottom-lg {
	margin-bottom: 24px !important;
}
.margin-bottom-xl {
	margin-bottom: 30px !important;
}
.margin-bottom-xxl {
	margin-bottom: 36px !important;
}
.margin-bottom-xxxl {
	margin-bottom: 42px !important;
}

.margin-bottom-xxxxl {
	margin-bottom: 48px !important;
}
.margin-bottom-largest {
	margin-bottom: 60px !important;
}
/*--------------- margin top*/
.margin-top-xs {
	margin-top: 6px !important;
}
.margin-top-sm {
	margin-top: 12px !important;
}

.margin-top-md {
	margin-top: 18px !important;
}

.margin-top-lg {
	margin-top: 24px !important;
}
.margin-top-xl {
	margin-top: 30px !important;
}
.margin-top-xxl {
	margin-top: 36px !important;
}
.margin-top-xxxl {
	margin-top: 42px !important;
}
.margin-top-xxxxl {
	margin-top: 48px !important;
}
.margin-top-largest {
	margin-top: 60px !important;
}

/*--------------- margin top*/
.margin-left-xs {
	margin-left: 6px !important;
}
.margin-left-sm {
	margin-left: 12px !important;
}

.margin-left-md {
	margin-left: 18px !important;
}

.margin-left-lg {
	margin-left: 24px !important;
}
.margin-left-xl {
	margin-left: 30px !important;
}
.margin-left-xxl {
	margin-left: 36px !important;
}
.margin-left-xxxl {
	margin-left: 42px !important;
}
.margin-left-largest {
	margin-left: 60px !important;
}

.margin-right-xs {
	margin-right: 6px !important;
}
.margin-right-sm {
	margin-right: 12px !important;
}

.margin-right-md {
	margin-right: 18px !important;
}

.margin-right-lg {
	margin-right: 24px !important;
}
.margin-right-xl {
	margin-right: 30px !important;
}
.margin-right-xxl {
	margin-right: 36px !important;
}
.margin-right-largest {
	margin-right: 60px !important;
}


/*------------- Text Styles */
.txt-gray-dark {
	color: $gray-dark;
	font-weight: $font-weight-light;
}
.txt-gray-darker {
	color: $gray-darker !important;
	
}
.txt-gray-lighter {
	color: $gray !important;
}
.txt-brand-primary {
	color: $brand-primary !important;
}

.txt-brand-secondary {
	color: $brand-secondary;
}
.txt-white {
  color: $color-white;
}
.txt-dasboard{
  color: #878789;
}
.txt-success{
  color: $brand-success;
}
.txt-warning{
  color: $brand-warning;
}

.font-weight-light {
	font-weight: $font-weight-light !important;
}
.font-weight-regular {
	font-weight: $font-weight-regular !important;
}
.font-weight-medium {
	font-weight: $font-weight-medium !important;
}
.font-weight-semi-bold{font-weight: $font-weight-semi-bold}
.font-weight-bold{font-weight: $font-weight-bold}
.font-size-base{font-size: $font-size-base;}

.font-size-md{font-size: 18px}
.font-size-lg{font-size: 24px}
.font-size-xl{font-size: 30px}
.font-size-xxl{font-size: 36px}

/* ------ Position ------- */
.center-middle{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.position-absolute {
	position: absolute !important;
}
.position-static {
	position: static !important;
}
.position-relative {
	position: relative !important;
}
.position-fixed {
  position: fixed !important;
}
/* ------ text-transform ------- */
.text-uppercase{
	text-transform: uppercase;
}
.text-noraml{
  text-transform:lowercase;
}

/* ------ background-color ------- */
.background-color-white{
  background-color: $color-white !important;
}
.background-over-due{
background-color: $brand-warning !important;
}

.hr{
  background: $gray;
 margin-bottom: 0px;
    border: 0;
    border-top: 1px solid $gray;
    margin-top: 10px;
}


.hideOverflow
{
    overflow:hidden;
   /* white-space:nowrap;*/
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

.vertical-align-top{
  vertical-align: top;
}
.vertical-align-middle{
  vertical-align: middle;
}
textarea:focus, input:focus{
    outline: 0;
}

/*------------------- Reusable classes -----*/
.vertical-spacing {
  margin-bottom: 18px;
}
.vertical-spacing-top {
  margin-top: 18px;
}
.vertical-padding {
  padding-bottom: 18px;
  padding-top:18px;

}
.horizontal-padding {
  padding-left: 18px;
  padding-right:18px;

}

.opaque{
  position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 3;
    top:0;
    display: none;
}

.no-text-underline{
  text-decoration: none !important;
}

.cursor-pointer{
  cursor: pointer;
}

.word-wrap{
  word-wrap: break-word;
}

.display-block{
  display: block;
}
.display-inline-block{
  display: inline-block;
}

.dash-border{
  border-bottom: 1px dashed #bdbdbd;
}

//line-height classes

.line-height-xs{
  line-height: 18px;
}
  
.line-height-sm{
  line-height: 24px;
}

.line-height-md{
  line-height: 30px
}

.line-height-lg{
  line-height: 36px;
}

/*** anchor hover ****/
.anchor-hover:hover{
  p,span{
    color: $brand-primary;
  }
  b{
    color: $brand-primary;
  }
}

.gray-lighter-bg-color{
  background-color: $gray-lighter;
}


/*--------------- Reset padding/margin of specific side ----------*/
.margin-top-zero{margin-top: 0 !important;}
.margin-right-zero{margin-right: 0 !important;}
.margin-bottom-zero{margin-bottom: 0 !important;}
.margin-left-zero{margin-left: 0 !important;}

.padding-top-zero{padding-top: 0 !important;}
.padding-right-zero{padding-right: 0 !important;}
.padding-bottom-zero{padding-bottom: 0 !important;}
.padding-left-zero{padding-left: 0 !important;}

/*--------------- Reset padding/margin ----------*/
.no-padding {padding:0 !important;}
.no-margin {margin:0 !important;}

/*--------------- Reset border ----------*/
.border-none{
  border: none !important;
}

/*--------------- spacing in multiple of 6 */


.padding-bottom-xs {
  padding-bottom: 6px !important;
}
.padding-bottom-sm {
  padding-bottom: 12px !important;
}
.padding-bottom-md {
  padding-bottom: 18px !important;
}
.padding-bottom-lg {
  padding-bottom: 24px !important;
}
.padding-bottom-xl {
  padding-bottom: 30px !important;
}
.padding-bottom-xxl {
  padding-bottom: 36px !important;
}

.padding-top-xs {
  padding-top: 6px !important;
}
.padding-top-sm {
  padding-top: 12px !important;
}
.padding-top-md {
  padding-top: 18px !important;
}
.padding-top-lg {
  padding-top: 24px !important;
}

.padding-top-xl {
  padding-top: 30px !important;
}

.padding-top-xxl {
  padding-top: 36px !important;
}

.padding-right-xs {
  padding-right: 6px !important;
}
.padding-right-sm {
  padding-right: 12px !important;
}

.padding-right-md {
  padding-right: 18px !important;
}
.padding-right-lg {
  padding-right: 24px !important;
}

//Padding left
.padding-left-xs {
  padding-left: 6px !important;
}

.padding-left-sm {
  padding-left: 12px !important;
}
.padding-left-md {
  padding-left: 18px !important;
}
.padding-left-lg {
  padding-left: 24px !important;
}
.padding-left-xl {
  padding-left: 30px !important;
}
.padding-left-xxl {
  padding-left: 36px !important;
}
.padding-left-xxxl {
  padding-left: 42px !important;
}

.padding-left-xxxxl {
  padding-left: 48px !important;
}

.padding-left-xxxxxl {
  padding-left: 54px !important;
}

.padding-left-largest {
  padding-left: 60px !important;
}

//Padding
.padding-xs {
  padding: 6px !important;
}
.padding-sm {
  padding: 12px !important;
}
.padding-md {
  padding: 18px !important;
}
.padding-lg {
  padding: 24px !important;
}

/*--------------- margin bottom*/
.margin-bottom-xs {
  margin-bottom: 6px !important;
}
.margin-bottom-sm {
  margin-bottom: 12px !important;
}

.margin-bottom-md {
  margin-bottom: 18px !important;
}

.margin-bottom-lg {
  margin-bottom: 24px !important;
}
.margin-bottom-xl {
  margin-bottom: 30px !important;
}
.margin-bottom-xxl {
  margin-bottom: 36px !important;
}
.margin-bottom-xxxl {
  margin-bottom: 42px !important;
}

.margin-bottom-xxxxl {
  margin-bottom: 48px !important;
}
.margin-bottom-largest {
  margin-bottom: 60px !important;
}
/*--------------- margin top*/
.margin-top-xs {
  margin-top: 6px !important;
}
.margin-top-sm {
  margin-top: 12px !important;
}

.margin-top-md {
  margin-top: 18px !important;
}

.margin-top-lg {
  margin-top: 24px !important;
}
.margin-top-xl {
  margin-top: 30px !important;
}
.margin-top-xxl {
  margin-top: 36px !important;
}
.margin-top-xxxl {
  margin-top: 42px !important;
}
.margin-top-xxxxl {
  margin-top: 48px !important;
}
.margin-top-largest {
  margin-top: 60px !important;
}

/*--------------- margin top*/
.margin-left-xs {
  margin-left: 6px !important;
}
.margin-left-sm {
  margin-left: 12px !important;
}

.margin-left-md {
  margin-left: 18px !important;
}

.margin-left-lg {
  margin-left: 24px !important;
}
.margin-left-xl {
  margin-left: 30px !important;
}
.margin-left-xxl {
  margin-left: 36px !important;
}
.margin-left-xxxl {
  margin-left: 42px !important;
}
.margin-left-largest {
  margin-left: 60px !important;
}

.margin-right-xs {
  margin-right: 6px !important;
}
.margin-right-sm {
  margin-right: 12px !important;
}

.margin-right-md {
  margin-right: 18px !important;
}

.margin-right-lg {
  margin-right: 24px !important;
}
.margin-right-xl {
  margin-right: 30px !important;
}
.margin-right-xxl {
  margin-right: 36px !important;
}
.margin-right-largest {
  margin-right: 60px !important;
}


/*------------- Text Styles */
.txt-gray-dark {
  color: $gray-dark;
  font-weight: $font-weight-light;
}
.txt-gray-darker {
  color: $gray-darker !important;
  
}
.txt-gray-lighter {
  color: $gray !important;
}
.txt-brand-primary {
  color: $brand-primary !important;
}

.txt-brand-secondary {
  color: $brand-secondary;
}
.txt-white {
  color: $color-white;
}
.txt-dasboard{
  color: #878789;
}
.txt-success{
  color: $brand-success;
}
.txt-warning{
  color: $brand-warning;
}

.font-weight-light {
  font-weight: $font-weight-light !important;
}
.font-weight-regular {
  font-weight: $font-weight-regular !important;
}
.font-weight-medium {
  font-weight: $font-weight-medium !important;
}
.font-weight-semi-bold{font-weight: $font-weight-semi-bold}
.font-weight-bold{font-weight: $font-weight-bold}
.font-size-base{font-size: $font-size-base;}

.font-size-md{font-size: 18px}
.font-size-lg{font-size: 24px}
.font-size-xl{font-size: 30px}
.font-size-xxl{font-size: 36px}

/* ------ Position ------- */
.center-middle{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.position-absolute {
  position: absolute !important;
}
.position-static {
  position: static !important;
}
.position-relative {
  position: relative !important;
}
.position-fixed {
  position: fixed !important;
}
/* ------ text-transform ------- */
.text-uppercase{
  text-transform: uppercase;
}
.text-noraml{
  text-transform:lowercase;
}

/* ------ background-color ------- */
.background-color-white{
  background-color: $color-white !important;
}
.background-over-due{
background-color: $brand-warning !important;
}

.hr{
  background: $gray;
 margin-bottom: 0px;
    border: 0;
    border-top: 1px solid $gray;
    margin-top: 10px;
}


.hideOverflow
{
    overflow:hidden;
   /* white-space:nowrap;*/
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

.vertical-align-top{
  vertical-align: top;
}
.vertical-align-middle{
  vertical-align: middle;
}


/* ------ fonts ------- */
@mixin Text-Style-8 {
  font-family: Hind;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $color-white;
}

@mixin Text-Style-9 {
  font-family: Hind;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $color-white;
}

@mixin Text-Style-10 {
  font-family: Hind;
  font-size: 9px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: $color-white;
}

@mixin Text-Style-3 {
  font-family: Hind;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: $color-white;
}

@mixin Text-Style-2 {
  font-family: Hind;
  font-size: 7px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: $text-color;
}

@mixin Text-Style-5 {
  font-family: Hind;
  font-size: 7px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: $text-color;
}

@mixin Text-Style-7 {
  font-family: Hind;
  font-size: 7px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $greyish;
}

@mixin Text-Style {
  font-family: Hind;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
}

@mixin Text-Style-6 {
  font-family: Hind;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $text-color;
}

@mixin Text-Style-4 {
  font-family: Hind;
  font-size: 6px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: $lightgreay;
}

@mixin Text-Style-11 {
  font-family: Hind;
  font-size: 6px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: right;
  color: $gray-base;
}

.header-bar {
  background-color: $color-white;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.15);
  min-height: 70px;
      display: inline-block;
    width: 100%;

   @include respond-to('medium') {
   min-height: 0;
    }
    ul li a{
       @include respond-to('medium') {
   padding-top: 12px !important;
    }
    }
    .form-group{
      margin-bottom: 0;
    }

 }

.Sign-UP {
  width: 24px;
  height: 4.5px;
  @include Text-Style-11;
}
.Log-IN {
  width: 19.5px;
  height: 4.5px;
  @include Text-Style-11;
}
.Quax-Logo {
  width: 45.5px;
  height: 16px;
  object-fit: contain;
}


#myCarousel{
  margin: 0 auto;
  text-align: center;
}

.login-singup-window{
  
h4{
   
    color: $gray-base;
    margin-bottom: 20px;
  
  }
.login-wraper{
 

    .btn-text{
      color: $brand-primary;
      background: none;
      font-weight: $font-weight-regular;
    }
    .btn-primary{
      background: $brand-primary;
      width: 100%;
      border-color:$brand-primary;     
      text-align: center;
    }
    .btn-secondary{
      background: $color-white;
      width: 100%;
      border-color:$brand-primary;     
      text-align: center;
      color: $brand-primary; 
    }
    .material-icons{
      vertical-align: middle;
    }
    p
    {
       @include Text-Style;
       font-weight: $font-weight-medium;
    }

  }
}

.login-width{
  width: 320px;
  @include respond-to('small') {
   top:60%;
    }
 
}

.error-bar {
  background-color: $brand-primary;
  display: inline-block;
  width: 100%;
  color: $color-white; 


   @include respond-to('medium') {
   min-height: 0;
    }
    ul li a{
       @include respond-to('medium') {
   padding-top: 12px !important;
    }
    }
    .form-group{
      margin-bottom: 0;
    }

 }








