//button groups
.btn-group {
	background-color: $color-white;
	
	&> .btn, .btn-group-vertical > .btn {
    	max-height: 30px;
    	padding: 7px 10px;
    	font-size: 12px;
    	height: 30px;
    }
}

.btn:active, .btn.active{
	box-shadow:none;
}