#date-picker{
	.col-md-3{
		@include respond-to('small') {
        text-align: left;
        padding-top: 0 !important;
    }

	}

	label{
	 @include respond-to('small') {
   
    }
    }
}

.time-label{

	padding-top: 42px;

	 @include respond-to('small') {
    padding-top:0 !important;
    text-align: left;
    }
     
}