
.option-wrapper	{
	margin-bottom: 30px;
}

.form-group--inner {
	margin-bottom: 18px;
/*	@include clearfix;*/

	.text-group {
		margin-bottom: 12px;
	}
}

.option-wrapper	{

	.form-group--inner:last-of-type {
		margin-bottom: 0;
	}
}

.form-group--inner {
	.text-group:last-of-type {
		margin-bottom: 0;
	}
}

.date-picker-holder{
	position:relative;

	.material-icons{
	    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%);
}


}
.time-to{
	    margin-top: 42px;
	    text-align: center;
	 @include respond-to('small') {
    text-align:left;
     margin-top: 15px;
    }
}
.distance-info{
	right:-5%;
	color:  $brand-primary;
}
.form-group{

	.btn-text{
		width: auto;
		    min-width: initial;
	}
}