.nb-radio {
	
	display: block;
	position: relative;
	transition: all 0.3s ease;
	cursor: pointer;
	input {
		opacity: 0;
		width:0; 
		height: 0;
		outline:0;
		border: none;
		position: absolute;
	}
	
	&__bg {
		display:block;
		width: 18px;
		height: 18px;
		border: 2px solid $brand-primary;
		border-radius:50%;
		display: inline-block;
		margin-right: 12px;
		vertical-align: top;
		float: left;
	}

	&__text {
		vertical-align: top;
		padding-top: 1px;
		color: $gray-base;
		font-weight: $font-weight-semi-bold;
	}
	&__icon {
		position: absolute;
		left: 5px;
		top: 5px;
		opacity: 0;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		transition: all 0.3s ease;
		background-color: $brand-primary;

	}

	input:checked+ {

		.nb-radio__bg {
			border-color:$brand-primary;

			+.nb-radio__icon {
				opacity: 1;
				
				
			}
		}
		
	}

	//disabled
	input[disabled] {
		+.nb-radio__bg {
			border-color: $gray-light;
		}
		~.nb-radio__icon {
			background-color: $gray-light;
		}
		~.nb-radio__text {
			color: $gray-base;
			font-weight: $font-weight-semi-bold;
		}
	}
}

.radio-group {

	&--inline {
		.nb-radio {
			display: inline-block;
			margin-right: 60px;
		}
		.nb-radio:last-child{
			margin-right: 0;
		}
	}

	&--block {
		.nb-radio {
			display: block;
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-heading {
		font-weight: $font-weight-regular;
		font-size: 15px;
		margin-bottom: 12px;
	}
}
