.modal-header {
	padding: 0;
	border-bottom: 0;

	h5{background: $brand-primary;
	color: $color-white;
	margin-top: 0;
	font-weight: $font-weight-bold;
}
  img{
		width: 100%;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
  }
}

.modal-header .close {
    margin-top: 0;
}

.modal--confirm {
    .modal-dialog {
        width: 400px;
    }
}

.modal-cancel{
	position: absolute;
	top: 18px;
	right: 18px;
}

@media (min-width: $screen-sm-min) {
	.modal-tour-sm{
		width: $tour-modal-sm;
	}
}

.modal-body{
	a:hover, a:focus{
		text-decoration: none;
	}
}

.modal-footer{
	border: 0;
	padding: 15px 35px;
}

.btn-grp--inline{
	@include respond-to('small') {
    float: left !important ;
     text-align: center;
    }
    button{
    	@include respond-to('small') {
    margin-top: 12px;
    }
    }
}