// table
table tr:hover td{

	background-color: $white-smoke;
}

.status{
	&__inprogress{
		color: $brand-secondary;
	}

	&__delayed{
		color: $brand-danger;
	}

	&__cancelled{
		color: $gray;
	}
}
.table-striped > tbody > tr:nth-of-type(even){
	background-color: $white-smoke;
}
.table-striped > tbody > tr:nth-of-type(odd){
	background-color: $color-white;
}

.table-striped{
	.btn{
	  min-width: auto;		
}
.btn.txt-success:hover{
	
	color: $brand-success;

}
.btn.txt-warning:hover{
	
	color: $brand-warning;

}
p{
	margin-bottom: 0;
}


  }

  .table-responsive{
      overflow-x: auto;
    display: inline-block;
    border:0;
        margin-bottom: 0;

         @include respond-to('small') {
   display: inline-block;
    }
         @include respond-to('medium') {
    display: inline-table;
    }


    td{
    	border-top:0 !important;
    	padding:6px !important;
    	width: 25%;
    }
    h1{
    	margin-top: 0;
    	margin-bottom: 0;
    }
  }